<%= render "header" %>

<div id="main-content">
  <% if flash[:notice] %>
    <%= flash[:notice] %>
  <% end %>

  <% @tweets.each do |tweet| %>
    <p>
      <%= tweet.message %>
      <%= ((Time.current - tweet.created_at)/60).to_i %>分
    </p>
  <% end %>
</div>
