<%= render "header" %>

<div class="container">
    <div id="main-content">
        <div id="tabs">
            <ul>
              <li class="active"><a href="#">ツイート</a></li>
              <li><a href="#">ツイートと返信</a></li>
              <li><a href="#">メディア</a></li>
              <li><a href="#">いいね</a></li>
            </ul>
        </div>
        <div class="tweet">
          <div class="user-info">
            <span class="username">Username</span>
            <span class="handle">@handle</span>
          </div>
          <p class="tweet-text">
            <%= @tweet.message %>
          </p>
          <div class="tweet-actions">
            <span class="reply">返信</span>
            <span class="retweet">リツイート</span>
            <span class="like">いいね</span>
          </div>
        </div>
        <%= link_to '戻る', request.referer %>
    </div>
</div>
